@charset="utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
}

/* wrapper
--------------------------------------------------*/
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  letter-spacing: 0.08em;
}

/* header
--------------------------------------------------*/
header {
  height: 90px;
}

.name {
  width: 50%;
  float: left;
}

.name a {
  color: #000;
  font-size: 2em;
  line-height: 90px;
  font-weight: bold;
}

nav ul {
  line-height: 90px;
}

nav ul li {
  margin-left: 10%;
}

nav ul li a {
  font-size: 1em;
  color: #000;
  padding: 10px;
  position: relative;
}

nav ul a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #04ac0a;
  transform: scaleX(0);
  transform-origin: right top;
  transition: transform 0.3s;
}

nav ul a:hover::after {
  transform: scaleX(1);
  transform-origin: left top;
}

/* top-wrap
--------------------------------------------------*/
.top-wrap {
  position: relative;
  margin-bottom: 100px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0 1em;
  color: #d1d1d1;
}

h1 span {
  color: #000;
}

.top-img {
  float: right;
  width: 80%;
  height: 400px;
  margin-right: 2em;
}

.top-img img {
  width: 100%;
  height: 100%;
}

/* article
--------------------------------------------------*/
article {
  margin: 80px 0;
  margin: 0 auto;
}

/* section
--------------------------------------------------*/
section:not(:last-child) {
  margin-bottom: 100px;
}

h2 {
  font-size: 2em;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 2em;
  font-weight: normal;
}

h2 span {
  font-size: 0.8em;
  margin-left: 2em;
}

/* about-wrap
--------------------------------------------------*/
.about-wrap .flex {
  display: flex;
  flex-wrap: nowrap;
}

.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 50%;
  height: auto;
  box-shadow: 0 0 8px #ccc;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  padding: 2.5em;
  background: #efefef;
  box-shadow: 0 0 8px #ccc;
  line-height: 2em;
  text-align: justify;
}

/* works-wrap
--------------------------------------------------*/
.works-wrap .flex {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
}

.works-wrap .flex::after {
  display: block;
  content:"";
  width: 30%;
}

.works-item {
  width: 28%;
  margin: 1%;
  height: 100%;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 0 0 4px #ccc;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.worls-item:last-child{
  margin-left: auto;
}

.works-img {
  width: auto;
  height: 100%;
  margin-bottom: 5%;
}

.works-img img {
  width: 100%;
  height: auto;
}

.works-wrap ul {
  font-size: 0.9em;
  height: 70px;
}

.works-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  padding-top: 10%;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works-text h3,
.works-text p {
  opacity: 0;
}

.works-text h3 {
  font-size: 0.9em;
  font-weight: normal;
  padding-bottom: 1em;
/*  transform: translate3d(0%, -100%, 0);*/
}

.works-item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.works-item:hover img {
  opacity: 0.3;
  filter: grayscale(30%);
}

.works-item:hover .works-text h3,
.works-item:hover .works-text p {
  transform: translate3d(0%, 0%, 0);
  transition: .8s;
  font-weight: bold;
}

.works-item:hover .works-text h3 {
  opacity: 1;
}

.works-item:hover .works-text p {
  opacity: 0.8;
}

/* graphic-wrap
--------------------------------------------------*/
.graphic-wrap .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.graphic-item {
  width: 32%;
  margin-bottom: 2em;
  box-sizing: border-box;
  box-shadow: 0 0 4px #ccc;
  padding: 1em;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.graphic-item:last-child {
  width: 50%;
}

.graphic-item img {
  width: 100%;
  height: auto;
}



/* skill-wrap
--------------------------------------------------*/
.skill-wrap .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.skill-item {
  width: 22%;
  margin-bottom: 2em;
  box-sizing: border-box;
  box-shadow: 0 0 4px #ccc;
  padding: 1em 1.5em;
  border-radius: 3px;
  position: relative;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

i.icon-size {
  font-size: 5em;
}

.language:before {
  content: "言語";
  color: #000;
  font-size: 0.6em;
  padding: 0 1em;
  background: rgb(255, 255, 44);
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.tool:before {
  content: "Adobe";
  color: #fff;
  font-size: 0.6em;
  padding: 0 1em;
  background: #ff1b43;
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.office:before {
  content: "Office";
  color: #fff;
  font-size: 0.6em;
  padding: 0 1em;
  background: #4a3bff;
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.other:before {
  content: "その他";
  font-size: 0.6em;
  padding: 0 1em;
  border: 1px solid #000;
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.skill-text {
  text-align: justify;
}

.skill-text h3 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1em;
  font-weight: normal;
  width: 100%;
  word-wrap: break-word;
}

.skill-text p span {
  padding-bottom: 30px;
}

.skill-text p {
  font-size: 0.8em;
  line-height: 1.4em;
}


/* footer
--------------------------------------------------*/
footer p {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  padding-bottom: 5%;
}

/* width=device-width
--------------------------------------------------*/
@media screen and (max-width: 480px) {
  
  .name {
    width: auto;
    float: none;
  }

  .name a {
    font-size: 18px;
    line-height: 90px;
  }
  
  .top-wrap {
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    top: 35%;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  article {
    margin: 0 15px;
  }

  section {
    margin-bottom: 50px;
  }

  .about-wrap .flex {
    display: block;
  }

  .about-img {
    margin: 20px;
    width: auto;
  }

  .about-text {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;;
  }

  .works-wrap .flex,
  .graphic-wrap .flex {
    display: block;
  }

  .works-item,
  .graphic-item {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 1em;
  }

  .graphic-item:last-child {
    width: auto;
  }

  .skill-item {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 10px 20px;
  }

  .language:before {
    top: 5px;
    left: 5px;
  }

  .tool:before {
    top: 5px;
    left: 5px;
  }

  .office:before {
    top: 5px;
    left: 5px;
  }

  .other:before {
    top: 5px;
    left: 5px;
  }
  
  .skill-text p {
    margin: 0 20px;
  }

  i.icon-size {
    font-size: 62px;
  }

}
