@charset="utf-8";

body {
  font-family: 'Playfair Display', serif;
}

/* wrapper
--------------------------------------------------*/
.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  letter-spacing: 0.08em;
}

/* header
--------------------------------------------------*/
header {
  height: 90px;
}

.name a {
  color: #000;
  font-size: 2em;
  line-height: 90px;
  font-weight: bold;
}

nav ul li {
  line-height: 70px;
  margin-left: 10%;
}

nav ul li a {
  font-size: 1em;
  color: #000;
  padding: 10px;
  position: relative;
}

nav ul a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #242c4d;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}

nav ul a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.fa-external-link-alt {
  margin-left: 3%;
}

/* top-wrap
--------------------------------------------------*/
.top-wrap {
  position: relative;
  margin-bottom: 10%;
}

h1 {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0 1em;
  color: #d1d1d1;
}

h1 span {
  color: #000;
  text-shadow: 0px 4px 5px rgb(123 121 121 / 10%);
}

.top-img {
  float: right;
  width: 80%;
  height: 400px;
}

.top-img img {
  width: 100%;
  height: 100%;
}

/* article
--------------------------------------------------*/
article {
  margin: 80px 0;
  margin: 0 auto;
}

/* section
--------------------------------------------------*/
section{
  margin-bottom:  10%;
}

h2 {
  font-size: 2em;
  border-bottom: 5px dotted #d1d1d1;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 1%;
  font-weight: normal;
}

h2 span {
  font-size: 0.6em;
  margin-left: 3%;
}

/* about-wrap
--------------------------------------------------*/
.about-wrap .flex {
  display: flex;
  flex-wrap: wrap;
}

.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 60%;
  height: auto;
  box-shadow: 0 0 25px #f3f1f1;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 5%;
  background: #efefef;
  box-shadow: 0 0 25px #f3f1f1;
  font-size: 0.9em;
  line-height: 2em;
  text-align: justify;
}


/* flex common
--------------------------------------------------*/
.works-wrap .flex,
.graphic-wrap .flex,
.skill-wrap .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-item,.graphic-item {
  width: 32%;
  box-sizing: border-box;
  box-shadow: 0 0 25px #f3f1f1;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 3px;
  position: relative;
}

/* works-wrap
--------------------------------------------------*/
.works-wrap .flex::after {
  display: block;
  content:"";
  width: 32%;
}

.works-img img {
  margin-bottom: 5%;
  width: 100%;
  height: auto;
}

.works-wrap ul {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}

.works-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  padding-top: 10%;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works-text h3,
.works-text p {
  opacity: 0;
}

.works-text h3 {
  font-size: 0.9em;
  font-weight: normal;
  padding-bottom: 3%;
}

.works-item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.works-item:hover img {
  opacity: 0.3;
  filter: grayscale(30%);
}

.works-item:hover .works-text h3,
.works-item:hover .works-text p {
  transition: 0.8s;
  font-weight: bold;
}

.works-item:hover .works-text h3 {
  opacity: 1;
}

.works-item:hover .works-text p {
  opacity: 0.8;
}

/* graphic-wrap
--------------------------------------------------*/
.graphic-item:last-child {
  width: 50%;
}

.graphic-item img {
  width: 100%;
  height: auto;
}

/* skill-wrap
--------------------------------------------------*/
.skill-item {
  width: 22%;
  margin-bottom: 5%;
  box-sizing: border-box;
  box-shadow: 0 0 25px #f3f1f1;
  padding: 2%;
  border-radius: 3px;
  position: relative;
}

.skill-item:hover .skill-text p{
  transform:scale(1.1,1.1);
  transition: all 0.5s ease-out;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

i.icon-size {
  font-size: 5em;
}

.language:before {
  content: "language";
  color: #000;
  font-size: 0.6em;
  padding: 0.2em 1em;
  background: rgb(255, 255, 44);
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.tool:before {
  content: "Adobe";
  color: #fff;
  font-size: 0.6em;
  padding: 0.2em 1em;
  background: #ff1b43;
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.office:before {
  content: "Office";
  color: #fff;
  font-size: 0.6em;
  padding: 0.2em 1em;
  background: #4a3bff;
  position: absolute;
  top: 1em;
  left: 2.2em;
}

.other:before {
  content: "other";
  font-size: 0.6em;
  padding: 0.2em 1em;
  border: 1px solid #000;
  position: absolute;
  top: 1em;
  left: 1.2em;
}

.skill-text {
  text-align: justify;
}

.skill-text h3 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 10%;
  font-weight: normal;
  width: 100%;
  word-wrap: break-word;
}

.skill-text p {
  font-size: 0.8em;
  line-height: 1.4em;
}

/*  contact-wrap
--------------------------------------------------*/
.contact-item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact-item h3{
  font-weight: normal;
  margin: 10% 0;
}

.gmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmail a {
  display: block;
  margin: 10% 0;
  margin-left: 1em;
  color: #000;
}

.gmail a:hover{
  color: rgb(0, 0, 238);
}

/* footer
--------------------------------------------------*/
footer p {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  padding-bottom: 5%;
}

/* page_top
--------------------------------------------------*/
#page_top{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  background: #d1d1d1;
  border-radius: 50%;
}

#page_top a{
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  content: '\f102';
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -35px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top a::after{
  content: 'PAGE TOP';
  font-size: 0.3em;
  color: #000;
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* width=device-width
--------------------------------------------------*/
@media screen and (max-width: 768px) {
  
  
}
/* width=device-width
--------------------------------------------------*/
@media screen and (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
  header {
    padding-left: 1em;
  }
  .name a {
    font-size: 22px;
    line-height: 90px;
  }
  
  .top-img {
    width: auto;
    float: none;
  }
  
  .top-wrap {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
  
  h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    top: 35%;
  }
  
  h2 {
    font-size: 22px;
    padding: 20px 0;
  }
  
  h2 span {
    font-size: 14px;
  }

  article {
    margin: 0 15px;
  }

  section {
    margin-bottom: 50px;
  }

  .about-wrap .flex {
    display: block;
  }

  .about-img {
    margin: 20px;
    width: auto;
  }

  .about-text {
    padding: 40px;
    font-size: 14px;
    line-height: 24px;;
  }

  .works-wrap .flex,
  .graphic-wrap .flex,
  .skill-wrap .flex {
    display: block;
  }

  .works-item,
  .graphic-item {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding: 5%;
  }

  .graphic-item:last-child {
    width: auto;
  }

  .skill-item {
    display: flex;
    width: 100%;
    padding: 10px 10px 10px 20px;
  }
  
  i.fa-js{
    font-size: 4em;
  }
  
  .language:before {
    top: 5px;
    left: 5px;
  }

  .tool:before {
    top: 5px;
    left: 5px;
  }

  .office:before {
    top: 5px;
    left: 5px;
  }

  .other:before {
    top: 5px;
    left: 5px;
  }
  
  .skill-text p {
    margin: 0 20px;
  }

  i.icon-size {
    font-size: 55px;
  }
  
  .contact-item {
    width: 100%;
}
  
.contact-item h3{
  font-size: 16px;
  margin: 30% 0;
}

.gmail {
  flex-direction: column;
}

.gmail a {
  margin: 20% 0;
  margin-left: 0;
}
}
